<div class="addhotel">
<div class="thumbnail">
<%= @hotels.id %>
<p>Name</p>
<%= @hotels.name %>
<p>Description</p>
<%= @hotels.description %>
<p>Price</p>
<%= @hotels.price %>
<p>Adress</p>
<%= @hotels.count_name %>
<%= @hotels.state %>
<%= @hotels.city %>
<%= @hotels.street %>
</div>
</div>
