<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
<%= stylesheet_link_tag "application", :media => "all"%>
<%= javascript_include_tag "application", :media => "all"%>

  </head>
  <body>
<<<<<<< HEAD
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
=======
    <%=   render "layouts/header.html.erb"%>
<%=yield %>
    <%=   render "layouts/footer.html.erb"%>
    <%= debug(params) if Rails.env.development? %>
<%= javascript_include_tag "salvattore", :media => "all"%>
>>>>>>> 12868b4d2988d0ec2fc15064888adc1d211d9a9c
  </body>
</html>
